@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,500,700&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Raleway:500');
*{
  box-sizing: border-box;
}
body{
  font-family: 'Ubuntu', sans-serif;
  background: #efeeee;
  margin: 0;
  padding: 0;
}
ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  color:#ed8e8e;
  text-decoration: none;
}
a:hover{
  color: #333;
  cursor: pointer;
}
.btn{
  display: block;
  width: 118px;
  height: 38px;
  line-height: 38px;
  border: 1px solid #e5e5e5;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  color: #000;
  cursor: pointer;
  font-weight: 500;
  outline: none;
  transition: .5s;
}
.btn:hover{
  transition: .5s;
}
#loader{  
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 90px;
}
#loader img{
  width: 50px;
  height: 50px;
}
.btn-load-more{
  background: #fff;
  margin: 15px auto 0;
  color: #ed1111;
}
.btn-load-more:hover{
  background: #ed8e8e;
}
.btn-add-cart{
  color: #ed1111;
}
.btn-add-cart:hover{
  background: #ed8e8e;
}
.btn-gray{
  background: #d9d9d9;
  color: #999e9f;
  font-weight: 300;
}
.container-width{
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;  
  background: #fff; 
}
.products{
  padding-top: 30px;
  padding-bottom: 60px;
  position: relative;
}
.products-grid{
  margin: 0 -15px;
}
.products-grid-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.products-grid .product-card{
  position: relative;
  margin: 25px 15px ;
  padding: 10px;
  width: 270px;
  min-height: 430px;
  max-height: 430px;
  height: 100%;
  border: 1px solid #e5e5e5;
  transition: 5s;
  opacity: 1;
  top: inherit;
}
.products-grid .product-card.hide{
  opacity: 0;
}
.products-grid .product-card:hover{
  box-shadow: 0 0 5px 1px #d9d9d9;
  transition: .5s;
}
.product-image-container{
  border: 1px solid #e5e5e5;
  height: 250px;
  margin-top: -30px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 15px;
}
.product-image-container img{
  max-width: 100%;
  max-height: 100%;
}
.product-bage{
  width: 70px;
  height: 38px;
  line-height: 38px;
  font-size: 13px;
  position: absolute;
  text-transform: uppercase;
  top: 100px;
  text-align: center;
  color: #fff;
}
.product-bage-sale{
  left: 10px;
  background: #ed1111;
}
.product-bage-new{
  right: 10px;
  background: #000;
}
.product-title{
  font-size: 14px;
  font-weight: 400;
  color: #000;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.product-description{
  color: #a5a4a4;
  margin-bottom: 20px;
  font-size: 11px;
  line-height: 15px;
  font-weight: 300;
  max-height: 45px;
  overflow: hidden;
}
.product-price{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 50px;
  width: 100%;
}
.product-price-current{
  margin-right: 20px;
  font-size: 25px;
  color: #333;
}
.product-price-old{
  font-size: 17px;
  color: #ed1111;
  text-decoration: line-through;
}
.btn-product-container{
  width: calc(100% - 20px);
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 10px;
}



/*foooter*/
footer{
  padding-bottom: 75px;
}
footer .footer-row{
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-column{
  width: 100%;
  max-width: 370px;
  min-height: 310px;
  border: 1px solid #e5e5e5;
  margin: 15px;
  padding: 45px 25px;
  font-size: 11px;
  line-height: 15px;
  color: #a5a4a4;
  font-weight: 300;
  
}
.footer-column .heading{
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  margin-bottom: 20px;
  color: #333;
}
.footer-column li{
  line-height: 25px;
  padding-left: 20px;
  position: relative;
}
.footer-column li::before{  
  content:"\f04b";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 8px;
  line-height: 25px;
  color: #ed1111;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free"; font-weight: 900; 
}
.footer-column p{
  margin: 0;
}
.footer-column .contact-info .icon-cont{
  width: 30px;
  display: inline-block;
}
.footer-column .contact-info i{
  color: #ed1111;
  line-height: 26px;
  font-size: 31px;
}
.footer-column .contact-info .contact-item{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.footer-column .contact-info .contact-item-info{
  padding-left: 10px;
  display: block;
}

/*media queries*/
@media(max-width: 650px){
  .products-grid-container{
    justify-content: center;
  }
}